    <main>
        
        <div id="corfor">

            <h2>Dados do Usuário</h2>

                        <label for="nome">Nome Completo</label>
                        <input type="text" id="nome" name="nome" value="@Model.Cliente.Nome" placeholder="Seu nome aqui..." readonly>
                        
                        <label for="cpfcnpj">CPF/CNPJ</label>
                        <input type="text" id="cpfcnpj" name="cpfcnpj" value="@Model.Cliente.Cpfcnpj" placeholder="000.000.000-00 ou 00.000.000/0000-00" readonly>
                        
                        <label for="telefone">Telefone</label>
                        <input type="text" id="telefone" name="telefone" value="@Model.Cliente.Telefone" placeholder="(11) 0000-0000" readonly>

                        <label for="telefone">Email</label>
                        <input type="email" id="email" name="email" value="@Model.Cliente.Email" placeholder="Email para contato" readonly>
                        
                        <label for="tipoEvento">Tipo de Evento</label>
                        <input type="text" id="tipoEvento" name="tipoEvento" placeholder="Ex: Casamento" readonly>
                        
                        <label for="dataEvento">Data do Evento</label>
                        <input type="date" id="dataEvento" name="dataEvento" min="2019-12-01" max="2022-12-31" readonly>
                        
                        <label for="inicioEvento">Horário de Início do Evento</label>
                        <input type="time" id="inicioEvento" name="inicioEvento" placeholder="Seu nome aqui..." readonly>
                        
                        <label for="terminoEvento">Horário de Término do Evento</label>
                        <input type="time" id="terminoEvento" name="terminoEvento" placeholder="Seu nome aqui..." readonly>
                        
                        <label for="numPessoas">Número de Pessoas</label>
                        <input type="number" id="numPessoas" name="numPessoas" min="0" max="250" step="5" placeholder="Quantidade de convidados..." readonly>
                        
                        <label for="descricaoEvento">Descrição do Evento</label>
                        <textarea type="text" id="descricaoEvento" name="descricaoEvento" cols="20" rows="7" placeholder="Uma breve descrição com suas pretenções para este evento..." readonly></textarea>
            
            <h2>Método de Pagamento</h2>
            <section id="for">
                
                <div id="botoesfor">
                    <form>
                        <label for="metodoPagamento">Método de Pagamento</label>
                        <select id="metodoPagamento" name="metodoPagamento">
                        <option value="cartao">Cartão de Crédito</option>
                        <option value="boleto">Boleto Bancário</option>
                        </select>
                        
                        <label for="Som">Pacote com Som +R$--</label>
                        <input type="text" id="Som" name="Som" placeholder="Pacote à parte">
                        
                        <label for="Luz">Pacote com Iluminação +R$--</label>
                        <input type="text" id="Luz" name="Luz" placeholder="Pacote à parte">
                        
                        <div id="bcon">
                            <a href="adm.html" class="confirmar">Aprovar</a>
                        </div>

                        <div id="bneg">
                            <a href="adm.html" class="confirmar">Rejeitar</a>
                        </div>

                    </form>
                </div>
            </section>
            
        </div>
        
    </main>