@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Well-come Matheus</h1>
    <img src="">
    <body>

                <header>
                    
                    <nav>
                        
                        <ul>
                            <li><em><strong>1. </strong> História <strong>2. </strong> Hobbies <strong>3. </strong> Feitos <strong>4. </strong> Planos</li></em>
                        </ul>
                        
                    </nav>
                    
                </header>
                <main>
                    
                    <hr />

                    <h4>1. História</h4>
                    <p> Nascido em 27 de Maio 2002, no estado de São Paulo-SP, Matheus atualmente cursa o ensino médio em uma escola pública de São Paulo, frequentando também, <br />
                        durante o período da tarde, o Serviço Nacional de Aprendizagem Industrial (Senai). <br />
                        <br />
                        Boa parte do que costumava fazer durante sua infância não só iria o influênciar como pessoa ao decorrer de sua vida, mas também abriria caminho para o que eventualmente se tornaria suas  <br />
                        atividades diárias, desde seu envolvimento em jogos eletrônicos, que o levaram para o caminho do design digital, até sua afinidade com eletrônicos em si, o que o levaria a <br />
                        procurar conhecimento na área de desenvolvimento de sistemas.    
                    </p>

                    <h4>2. Hobbies</h4>
                    <p> Matheus costuma passar seu tempo livre buscando novas maneiras de como passar seu tempo livre. Enquanto mais novo, costumava jogar jogos eletrônicos em <br />
                        diversos consoles, algo que eventualmente o levaria a participar em tamanhos eventos como um campeonato de um jogo de corrida.<br/ >
                        Porém, seu histórico com jogos não param por aí. Matheus já praticou jogos de RPG de mesa, e de Mundo Aberto, e também na longa lista de passatempos<br />
                        costuma ler diversos tipos de livros, dos quais os temas favoritos sejam de História e de Filosofia, e além de tudo isso, toca violão.  
                    </p>

                    <h4>3. Feitos</h4>
                    <p> Durante sua vida, e até o momento, têm colecionado alguns feitos, dentre eles, dois anos e meio de curso para design digital, estudando áreas como a de <br />
                        edição de imagens, animação, modelagens em 3D, entre outros. Praticou atividades físicas como natação, futebol, artes marciais como Jiu-Jitsu, e recentemente <br />
                        se exercita frequentando a academia.<br />
                        <br />
                        E se o quesito for experiencias da vida formal, já visitou a cidade de Santos, o estado de Pernambuco, e para o aspecto profissional, foi estagiário no <br />
                        Tribunal Regional de Justiça de São Paulo.
                       
                        
                    </p>

                    <h4>4. Planos</h4>
                    <p> Ainda assim, a vida não termina por aí, e Matheus sabe disso, então, possuí seus próprios planos e desejos para seu f
                       
                        
                    </p>
                    <hr />

                </main>
                <footer>
                    <em> Matheus Souza Silva, 17 Anos, -Estudante
                        <br />
                        São Paulo-SP
                        <br />
                        Porifólio </em>
                </footer>
                
            </body>
