<footer>   
        <section class="rodape">
            
            <div id="faqd">
                <p> Dúvidas</p>
                <p>Termos</p>
            </div>
            
            <div id="s2">
                <p>Feito com <3</p>
            </div>
            
        </section>
    </div>
    
</footer>