@model rltpMVC.ViewModels.BaseViewModel

@{
    var nomeView = (string) ViewData["NomeView"];
    var navView = (string) ViewData["navView"];
}
<!DOCTYPE html>
<html lang= "pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rolê-Top</title>
    <link href="~/imgrltp/logo.png" rel="icon" type="image/x-icon"/>
        @if("Home".Equals(nomeView))
        {
            <link href="~/css/rltp.css" rel="stylesheet" type="text/css">
        }
        else if("Galeria".Equals(nomeView))
        {
            <link href="~/css/galeria.css" rel="stylesheet" type="text/css">
        }
        else if("Espaco".Equals(nomeView))
        {
            <link href="~/css/espaço.css" rel="stylesheet" type="text/css">
        }
        else if("Espaco2".Equals(nomeView))
        {
            <link href="~/css/espaço2.css" rel="stylesheet" type="text/css">
        }
        else if("Cadastro".Equals(nomeView))
        {
            <link href="~/css/cadastro.css" rel="stylesheet" type="text/css">
        }
        else if("Login".Equals(nomeView))
        {
            <link href="~/css/login.css" rel="stylesheet" type="text/css">
        }
        else if("Menu".Equals(nomeView))
        {
            <link href="~/css/menu.css" rel="stylesheet" type="text/css">
        }

</head>

<body>
 
    @if("Nav".Equals(navView))
    {
        Html.RenderPartial("_Nav");
        <link href="~/css/nav.css" rel="stylesheet" type="text/css">
    }
    @RenderBody()
    
        @if("Home".Equals(nomeView))
        {
        Html.RenderPartial("_FooterHomePage");
        <link href="~/css/fot.css" rel="stylesheet" type="text/css">
        }
</body>
        
</html>