<!DOCTYPE html>
<html lang= "pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rolê-Top</title>
    <link href="imgrltp/logo.png" rel="icon" type="image/x-icon"/>
    <link href="~/css/rltp.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <nav>
            <div class="dropdown">
                <button class="dropbtn"> <img id="barranav" src="imgrltp/Captura de Tela (42) - Copia.png" alt="Barra de Navegação" title="Barra Nav"/> </button>
                <div class="dropdown-content">
                    
                    <a href="rltp.html"> Principal </a>
                    <a href="formulário.html"> Formulário </a>
                    <a href="espaço.html"> Sobre o Espaço </a> 
                    <a href="galeria.html"> Galeria </a> 
                    <a href="login.html"> Login </a> 
                    <a href="dúvidas.html"> Dúvidas </a>
                    
                </div>
                
                
            </div>
            
            <img id="minilogo" src="imgrltp/logo - Copia.png" alt="Logotipo da Role-Top" title="logo"/>
        </nav>
    </header>

    @RenderBody()
    
                <footer>
                    
                    <section class="rodape">
                        
                        <div id="faqd">
                            <p> Dúvidas</p>
                            <p>Termos</p>
                        </div>
                        
                        <div id="s2">
                            <p>Feito com <3</p>
                        </div>
                        
                        <img id="pe" src="imgrltp/Captura de Tela (43).png" alt="Role-Top" title="rltp"/>
                        
                    </section>
                </div>
                
            </footer>
            
        </body>
        
        </html>