   <header>
        <nav>
            <div class="dropdown">
                <button class="dropbtn"> <img id="barranav" src="~/imgrltp/Captura de Tela (42) - Copia.png" alt="Barra de Navegação" title="Barra Nav"/> </button>
                <div class="dropdown-content">
                    
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Home" asp-action="Index" class="active"> Principal </a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href="formulário.html"> Formulário </a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Espaco" asp-action="Index" class="active"> Sobre o Espaço </a></li> 
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Galeria" asp-action="Index" class="active"> Galeria </a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href="login.html"> Login </a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href="dúvidas.html"> Dúvidas </a></li>
                    
                </div>
                
                
            </div>
            
            <img id="minilogo" src="~/imgrltp/logo - Copia.png" alt="Logotipo da Role-Top" title="logo"/>
        </nav>

    </header>
