<main>
    <form method="POST" action='@Url.Action("Login", "Cliente")'>
            <form action="action_page">
                    <div class="imgcontainer">
                      <img src="~/imgrltp/bb-8-icon-7.jpg" alt="Avatar" class="avatar">
                    </div>
                  
                    <div class="container">
                      <label for="nome"><b>Nome de Usuário</b></label>
                      <input type="text" placeholder="Usuário" name="nome" required>
                  
                      <label for="psw"><b>Senha</b></label>
                      <input type="password" placeholder="Sua senha" name="senha" required>
                  
                      <div id="bcon">
                            <a asp-controller="Cliente" asp-action="Perfil" class="confirmar">Login</a>
                      </div>

                  <div id="check">
                  <label>
                    <input type="checkbox" checked="checked" name="remember"> Pense em mim
                  </label>
                  
                  <label>
                    <a asp-controller="Cadastro" asp-action="Index" class="confirmar">Quero me Cadastrar</a>
                  </label>
                  </div>
                </div>

              </form>
            </form>

    </main>